*{
    box-sizing: border-box;
}
html{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* /////////// HEADER ///////////  */
header{
    position: fixed;
    display: inline-flex;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    justify-content: space-between
}
#logo{
    margin-left: 10px;
    height: 50px;
    width: auto;
}
nav{
    height: 69px;
    display: inline-flex;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
}
nav p{
    margin: 0;
}
a{
    color: seashell;
    text-decoration: underline;
}