*{
    box-sizing: border-box;
    opacity: 0.9;
}
html{
    opacity: 1;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    height: 2000px;
}
body{
    background-color: black;
}

/* /////////// HEADER ///////////  */
header{
    background-color: black;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: inline-flex;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#logo{
    margin-left: 10px;
    height: 50px;
    width: auto;
}
nav{
    height: 69px;
    display: inline-flex;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
}
nav p{
    margin: 0;
}
a{
    color: seashell;
    text-decoration: underline;
}

/* /////////// CONTAINERS /////////// */

/* //// Mission //// */
#mission{
    background-color: black;
    width: 95%;
    height: 700px;
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/img-mission-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#mission .container{
    position: relative;
    top: 40%;
    text-align: center;
    background-color: black;
    padding-top: 1px;
    padding-bottom: 1px;
}
#mission .container h1{
    margin-top: 10px;
}
#mission .container h4{
    margin-bottom: 10px;
}
/* //// Featured Tea //// */
#featureTea{

}

/* //// LOCATIONS //// */
#locations{

}