*{
    box-sizing: border-box;
}
html{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* /////////// HEADER ///////////  */
header{
    background-color: black;
    margin-top: 0;
    position: fixed;
    display: inline-flex;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#logo{
    margin-left: 10px;
    height: 50px;
    width: auto;
}
nav{
    height: 69px;
    display: inline-flex;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
}
nav p{
    margin: 0;
}
a{
    color: seashell;
    text-decoration: underline;
}

/* /////////// CONTAINERS ///////////  */
#mission{
    width: 95%;
    height: 700px;
    display: flex;
    margin: 0 auto;
    position:relative;
    top: 70px;
    z-index: 1;
    background-image: url("images/img-mission-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}   
#featureTea{
    position:relative;
}
#locations{
    position:relative;
}